In [3]:
import pandas as pd

In [8]:
positive_seqs = pd.read_csv('./../dataset/lin28/uniq.SRR458758.txt', header=None, sep=' ').iloc[:, 3:5]

positive_seqs.head()

   3                                                  4
0  1      NAGAAGCTGAGAGGCGCTGGGAACAAGTTCTGTAGGCACCATCAA
1  1             NCTGGAGGTGTATAATATGAGACTGTAGGCACCATCAA
2  1  NGCTTCCGGGAAACCAAAGTCTTTGGGTTCCGGGGGGAGTCTGTAG...
3  1  NGGTGTGGTGGGACTGCTCAGGGAGTGGTGCAGTGTGATTCCCGCC...
4  1  NGAAACTCGTGGTGATTTTAAGATTGGAAAAGAATCTGAGGAAGAG...

In [10]:
positive_seqs.iloc[:, 0].value_counts()

1    31577775
2       24569
3         400
4          12
Name: 3, dtype: int64